<?xml version="1.0"?>
<configuration>

  <location path="ParametrizacionIndex.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="FileSettings.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="FileStruct.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ColumnSettings.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DependsField.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DependFieldGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DependFieldDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ExtensionForFile.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="DependsFile.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
