<?xml version="1.0"?>
<configuration>

  <location path="AccountIndex.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location> 
  
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RecoverPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="DeleteUser.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>        
      </authorization>
    </system.web>
  </location>

  <location path="UpdateUser.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
