<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <location path="PagCargaArchivos.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR,INTERNO,EXTERNO"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ResultadoValidacion.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR,INTERNO,EXTERNO"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ResultadoValidacionArchivos.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR,INTERNO,EXTERNO"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ResultadoValidacionArchivosDetalle.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINISTRADOR,INTERNO,EXTERNO"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>  
  
</configuration>
