<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <pages clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <!-- Manejo de Usuarios y Roles -->
    <membership defaultProvider="MyMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="MyMembershipProvider" type="MyAutenticationProvider.Usuario.MyMembershipProvider" connectionStringName="ApplicationServices" applicationName="RipsValidatorWeb" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="MyAutenticationProvider.Rol.MyRolProvider" />
      </providers>
    </roleManager>
    <!-- Manejo de Usuarios y Roles -->
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <siteMap defaultProvider="WebSitemap" enabled="true">
      <providers>
        <add name="WebSitemap" description="Web site map provider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <!--<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>-->
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
    </httpModules>
  </system.web>
  <appSettings>
    <!-- Variables de Connección con base de datos -->
    <add key="8q8yS6hhJzR2nnuTp0t85liiY2IHVZ4YUKR0VyAfgXo=" value="V2nUGdaLu4kgIxsnpVd92g==" />
    <!-- (Sybase caprecom) -->
    <!--<add key="a4vb5vhogOz9maObS7j2SA==" value="iUdAKLS3wLb+489xfKE5tUzf/DwwmO+zH3ZZbKMQ9OlKRn5iYA15FNmYJeOmTgdG" />-->
    <!--<add key="QWnUgYsDpMo/k9v79Gd4wA==" value="tNqCMb1jj5FuMviU5Ho0bA==" />-->
    <!-- (Sybase caprecom) -->
    <!-- (SQLserver) -->
    <add key="a4vb5vhogOz9maObS7j2SA==" value="iUdAKLS3wLb+489xfKE5tboUKAnFBrffyUFyZhuWyB/1aKuhaXkIHXrwlw4CGG7J" />
    <!--<add key="a4vb5vhogOz9maObS7j2SA==" value="iUdAKLS3wLb+489xfKE5tUzf/DwwmO+zH3ZZbKMQ9Oko4SkSc+Tgx7s2989N0PhCQb/dftOyybR2/xnzZgJQHw==" />-->
    <add key="QWnUgYsDpMo/k9v79Gd4wA==" value="iYAaMjDfdy8drTinsXLm7Q==" />
    <!-- (SQLserver) -->
    <add key="Vq9FJQW4+mhUdlV7bg49rQ==" value="+m3E6aymG6J2MBgQ2mrVxA==" />
    <add key="e7nPWK3bzDxW3htzroYJ5A==" value="E6K3Xur9azmSXrq6t7saDA==" />
    <!-- Fin -->
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="RUTA_LOG_ERROR" value="C:\RIPS_LOG_ERROR" />
    <add key="LOGO_EMPRESA" value="~/Images/Logos/logoEmpresa.jpg"/>
    <add key="IMAGEN_QDATA" value="~/Images/Logos/LogoQdata.jpg" />
    <!-- Inicio - Variables para el manejo de envio de correo electronico -->
    <!-- Servidor SMTP desde el cual se enviara el correo -->
    <add key="TIPO_CUENTA" value="smtp.gmail.com" />
    <!-- Puerto para el envio del correo puede ser 25 o 587 -->
    <add key="PUERTO_MAIL" value="25" />
    <!-- Cuenta de correo electronico -->
    <add key="CUENTA_CORREO" value="hernanpruebas@gmail.com" />
    <!-- Contraseña de correo -->
    <add key="CONTRASENA_CORREO" value="s3TV5dvBZskK6PwI6czTeg==" />
    <!-- Ruta Imgen para correo -->
    <add key="IMGEN_CORREO" value="~/Images/Logos/logoEmpresa.jpg" />
    <!-- Nombre empresa Correo -->
    <add key="NOM_EMPRESA" value="Quality Data S.A." />
    <!-- Fin - Variables para el manejo de envio de correo electronico -->
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
    </handlers>
  </system.webServer>
</configuration>